content {
  display: block; }

.cr.card {
  position: relative;
  background: #fff;
  width: 307px;
  min-height: 0;
  max-width: 100%;
  margin: 1em 0;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }
  .cr.card header, .cr.card content, .cr.card footer {
    position: relative;
    padding: 10px 20px;
    background: none;
    border: none;
    -webkit-box-flex: 1;
    flex-grow: 1; }
  .cr.card header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center; }
    .cr.card header .title {
      position: relative;
      font-size: 1.1em;
      align-self: center;
      font-weight: 600;
      padding: 0 10px;
      flex-grow: 1; }
    .cr.card header .right-item {
      flex-wrap: nowrap;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end; }
  .cr.card footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .cr.card header.with.separador {
    border-bottom: 1px solid rgba(151, 151, 151, 0.2); }
  .cr.card footer.with.separador {
    border-top: 1px solid rgba(151, 151, 151, 0.2); }

.image.container {
  position: relative;
  display: block;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex: 0 0 auto; }
  .image.container img {
    display: block;
    width: 100%;
    max-width: 100%; }

.cr.card.adaptable {
  width: 100%; }

.cr.card.hoverable {
  -webkit-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out; }
  .cr.card.hoverable:hover {
    -webkit-box-shadow: 0 8px 9px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 9px -2px rgba(0, 0, 0, 0.2); }

.cr.card.material {
  border: none;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out; }
  .cr.card.material header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .cr.card.material footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  .cr.card.material:hover {
    background-color: #fafafa; }

.cr.card.material.hoverable:hover {
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3); }

.cr.card.deep.shadow {
  border-radius: 10px;
  border: none !important;
  -webkit-box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.3); }

.cr.card.variant {
  border-radius: 14px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 6px -12px -3px rgba(0, 0, 0, 0.53);
  box-shadow: 0 6px -12px -3px rgba(0, 0, 0, 0.53); }

.cr.card.mobile {
  border-radius: 12px;
  border: 1px solid gainsboro;
  -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5); }

.cr.card.mobile-2 {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 1px 0 -1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 0 -1px rgba(0, 0, 0, 0.14); }

.cr.card header.blue, .cr.card content.blue, .cr.card footer.blue {
  background: #2196F3;
  color: #fff; }
.cr.card header.red, .cr.card content.red, .cr.card footer.red {
  background: #F44336;
  color: #fff; }
.cr.card header.yellow, .cr.card content.yellow, .cr.card footer.yellow {
  background: #FFEB3B;
  color: #000; }
.cr.card header.green, .cr.card content.green, .cr.card footer.green {
  background: #00C853;
  color: #fff; }
.cr.card header.black, .cr.card content.black, .cr.card footer.black {
  background: #000;
  color: #fff; }
.cr.card header.orange, .cr.card content.orange, .cr.card footer.orange {
  background: #FF9800;
  color: #fff; }
.cr.card header.pink, .cr.card content.pink, .cr.card footer.pink {
  background: #E91E63;
  color: #fff; }
.cr.card header.indigo, .cr.card content.indigo, .cr.card footer.indigo {
  background: #3F51B5;
  color: #fff; }
.cr.card header.purple, .cr.card content.purple, .cr.card footer.purple {
  background: #9C27B0;
  color: #fff; }
.cr.card header.deep-purple, .cr.card content.deep-purple, .cr.card footer.deep-purple {
  background: #673AB7;
  color: #fff; }
.cr.card header.royal-blue, .cr.card content.royal-blue, .cr.card footer.royal-blue {
  background: #3D5AFE;
  color: #fff; }
.cr.card header.teal, .cr.card content.teal, .cr.card footer.teal {
  background: #009688;
  color: #fff; }

.cr.card img.profile {
  position: relative;
  width: 2.188em;
  height: 2.188em;
  border: 1px solid rgba(151, 151, 151, 0.19);
  border-radius: 50%; }

.cr.card .feature.container {
  position: absolute;
  background: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  z-index: 2;
  overflow-y: auto;
  transition: background 0.3s ease-out, opacity 0.3s ease-out; }
  .cr.card .feature.container:hover {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1; }
  .cr.card .feature.container content {
    padding: 10px 10px;
    font-size: 0.875em;
    color: #fff; }

/*# sourceMappingURL=crcards.css.map */
