$primary: #3D5AFE
$secondary: #3F51B5
$accent: #E91E63


$royal-blue: #3D5AFE

nav.cr.navbar
	display: flex
	width: fit-content
	padding: 0 20px
	margin-bottom: 8px
	min-height: 60px
	flex: 1
	-webkit-box-shadow: 0 0 4px -1px rgba(#000,.8)
	box-shadow:  0 0 4px -1px rgba(#000,.8)
	a.brand
		display: flex 
		min-height: 46px !important
		min-width: 132px 
		align-items: center
		justify-content: center
		z-index: 1
		cursor: pointer
	ul.menu
		list-style: none
		display: flex
		flex: 1
		margin: 0 
		li
			display: flex
			align-items: center
			justify-content: center 
			font-size: 14px
			min-width: 132px
			min-height: 46px 
		li.right 
			float: right


	
