@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
body {
  font-family: "Source Sans Pro", sans-serif; }

body, html {
  height: 100%;
  margin: 0; }

a {
  color: #5670fe;
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; }

.center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.right {
  display: flex;
  display: -webkit-box;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.middle {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section.cr.card header, section.cr.card content, section.cr.card footer, section.cr.modal header, section.cr.modal content, section.cr.modal footer {
  position: relative;
  padding: 10px 20px;
  background: none;
  border: none;
  -webkit-box-flex: 1;
  flex-grow: 1; }

section.cr.card .image.container, section.cr.modal .image.container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex: 0 0 auto; }
  section.cr.card .image.container img, section.cr.modal .image.container img {
    display: block;
    width: 100%;
    max-width: 100%; }

@media screen and (max-width: 767px) {
  .cr.modal {
    width: 95% !important;
    margin: 0; } }
a.link {
  transition: transform 0.3s ease-out; }
  a.link:after {
    content: " ";
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: #3D5AFE;
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    -webkit-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    -moz-transitioN: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  a.link:hover:after {
    transform: scaleX(1); }

.cr.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box; }

button.cr.button {
  outline: none;
  border: none;
  overflow: hidden; }
  button.cr.button i {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }

div.cr.button {
  overflow: hidden;
  min-width: 30px;
  box-sizing: border-box; }
  div.cr.button i {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }

.cr.button {
  background: #f0f0f0;
  border-radius: 0.15rem;
  overflow: hidden;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  margin: 2px 2px;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  text-decoration: none;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  -ms-transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  -moz-transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: background 0.3s, box-shadow 0.3s ease-out; }
  .cr.button:active {
    background: rgba(0, 0, 0, 0.2); }

.cr.button.icon {
  flex-wrap: nowrap;
  align-items: center; }
  .cr.button.icon i {
    display: flex;
    height: 100%;
    top: 0;
    margin-left: 10px;
    font-size: 18px;
    right: 0; }
  .cr.button.icon content {
    flex-grow: 1;
    text-align: start; }

.cr.button .ripple {
  background: #9E9E9E; }

.cr.button.plain {
  border-radius: 0 !important; }

.cr.button.rounded {
  border-radius: 50px; }

.cr.button.tiny {
  font-size: 0.75em;
  padding: 6px 12px; }
  .cr.button.tiny i {
    font-size: 1.22em; }

.cr.button.small {
  font-size: 0.75em;
  padding: 8px 18px; }

.cr.button.medium {
  font-size: 0.875em;
  padding: 8px 24px; }

.cr.button.large {
  font-size: 1em;
  padding: 10px 24px; }

.cr.button.big {
  font-size: 1em;
  padding: 14px 30px; }

.cr.button.flexible {
  width: 100%; }

.cr.button.raised {
  -webkit-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out, background 0.3s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.cr.button.raise.on.hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); }

.cr.button.outline {
  background: none;
  border: 1px solid #000;
  color: #000; }
  .cr.button.outline:hover {
    background: #000;
    color: #fff; }

.cr.button.outline.white {
  background: none;
  border: 1px solid #fff;
  color: #fff; }
  .cr.button.outline.white:hover {
    background: #fff;
    color: #000;
    border-color: #fff; }
  .cr.button.outline.white .ripple {
    background: #9E9E9E; }

.cr.button.outline.royal-blue {
  background: none;
  border: 1px solid #3D5AFE;
  color: #3D5AFE; }
  .cr.button.outline.royal-blue:hover {
    background: #3D5AFE;
    color: #fff; }

.cr.button.outline.blue {
  background: none;
  border: 1px solid #03A9F4;
  color: #2196F3; }
  .cr.button.outline.blue:hover {
    background: #2196F3;
    color: #fff; }

.cr.button.outline.yellow {
  background: none;
  border: 1px solid #FFEB3B;
  color: #ffce3a; }
  .cr.button.outline.yellow:hover {
    background: #FFEB3B;
    color: #000; }

.cr.button.outline.green {
  background: none;
  border: 1px solid #8BC34A;
  color: #00C853; }
  .cr.button.outline.green:hover {
    background: #00C853;
    color: #fff; }

.cr.button.outline.amber {
  background: none;
  border: 1px solid #FFC107;
  color: #FF9800; }
  .cr.button.outline.amber:hover {
    background: #FFC107;
    color: #fff; }

.cr.button.outline.indigo {
  background: none;
  border: 1px solid #3F51B5;
  color: #3F51B5; }
  .cr.button.outline.indigo:hover {
    background: #3F51B5;
    color: #fff; }

.cr.button.outline.red {
  background: none;
  border: 1px solid #B71C1C;
  color: #F44336; }
  .cr.button.outline.red a {
    color: #F44336 !important; }
  .cr.button.outline.red:hover {
    background: #F44336;
    color: #fff; }
    .cr.button.outline.red:hover a {
      color: #fff !important; }

.cr.button.outline.pink {
  background: none;
  border: 1px solid #E91E63;
  color: #E91E63; }
  .cr.button.outline.pink:hover {
    background: #E91E63;
    color: #fff; }

.cr.button.outline.deep-purple {
  background: none;
  border: 1px solid #673AB7;
  color: #3F51B5; }
  .cr.button.outline.deep-purple:hover {
    background: #673AB7;
    color: #fff; }

.cr.button.outline.teal {
  background: none;
  border: 1px solid #009688;
  color: #009688; }
  .cr.button.outline.teal:hover {
    background: #009688;
    color: #fff; }

.cr.button.outline.gold {
  background: none;
  border: 1px solid #bf9b30;
  color: #bf9b30; }
  .cr.button.outline.gold:hover {
    background: #a67c00;
    border: 1px solid #a67c00;
    color: #fff; }

.cr.button.blue {
  background: #2196F3;
  color: #fff; }
  .cr.button.blue .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.blue:active {
    background: #0a6ebd; }

.cr.button.royal-blue {
  background: #3D5AFE;
  color: #fff; }
  .cr.button.royal-blue .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.royal-blue:active {
    background: #0a2ffe; }

.cr.button.white {
  background: #fff;
  color: #1a1a1a; }
  .cr.button.white:active {
    background: #d9d9d9 !important; }
  .cr.button.white:hover {
    background: white; }
  .cr.button.white .ripple {
    background: #9E9E9E; }

.cr.button.deep-purple {
  background: #673AB7;
  color: #fff; }
  .cr.button.deep-purple .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.deep-purple:active {
    background: #46287d; }

.cr.button.gold {
  background: #bf9b30;
  color: #fff; }
  .cr.button.gold .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.gold:active {
    background: #826921; }

.cr.button.green {
  background: #00C853;
  color: #fff; }
  .cr.button.green .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.green:active {
    background: #007c33; }

.cr.button.red {
  background: #F44336;
  color: #fff; }
  .cr.button.red .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.red:active {
    background: #d2190b; }

.cr.button.orange {
  background: #FF9800;
  color: #fff; }
  .cr.button.orange .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.orange:active {
    background: #b36a00; }

.cr.button.pink {
  background: #E91E63;
  color: #fff; }
  .cr.button.pink .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.pink:active {
    background: #aa1145; }

.cr.button.light-blue {
  background: #03A9F4;
  color: #fff; }
  .cr.button.light-blue .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.light-blue:active {
    background: #0275a8; }

.cr.button.indigo {
  background: #3F51B5;
  color: #fff; }
  .cr.button.indigo .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.indigo:active {
    background: #2b387c; }

.cr.button.black {
  background: #000;
  color: #fff; }
  .cr.button.black .ripple {
    background: rgba(255, 255, 255, 0.8); }

.cr.button.yellow {
  background: #FFEB3B;
  color: #000; }
  .cr.button.yellow .ripple {
    background: rgba(255, 255, 255, 0.8); }

.cr.button.teal {
  background: #009688;
  color: #fff; }
  .cr.button.teal .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.teal:active {
    background: #004a43; }

.cr.button.amber {
  background: #FFC107;
  color: #fff; }
  .cr.button.amber .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.amber:active {
    background: #ba8b00; }

.cr.button.blue.hoverable {
  background: #2196F3;
  color: #fff; }
  .cr.button.blue.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.blue.hoverable:hover {
    background: #0c82df; }
  .cr.button.blue.hoverable:active {
    background: #0a6ebd; }

.cr.button.deep-purple.hoverable {
  background: #673AB7;
  color: #fff; }
  .cr.button.deep-purple.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.deep-purple.hoverable:hover {
    background: #563098; }
  .cr.button.deep-purple.hoverable:active {
    background: #46287d; }

.cr.button.gold.hoverable {
  background: #bf9b30;
  color: #fff; }
  .cr.button.gold.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.gold.hoverable:hover {
    background: #9e8128; }
  .cr.button.gold.hoverable:active {
    background: #826921; }

.cr.button.green.hoverable {
  background: #00C853;
  color: #fff; }
  .cr.button.green.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.green.hoverable:hover {
    background: #009f42; }
  .cr.button.green.hoverable:active {
    background: #007c33; }

.cr.button.red.hoverable {
  background: #F44336;
  color: #fff; }
  .cr.button.red.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.red.hoverable:hover {
    background: #f21f0f; }
  .cr.button.red.hoverable:active {
    background: #d2190b; }

.cr.button.orange.hoverable {
  background: #FF9800;
  color: #fff; }
  .cr.button.orange.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.orange.hoverable:hover {
    background: #d68000; }
  .cr.button.orange.hoverable:active {
    background: #b36a00; }

.cr.button.pink.hoverable {
  background: #E91E63;
  color: #fff; }
  .cr.button.pink.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.pink.hoverable:hover {
    background: #d68000; }
  .cr.button.pink.hoverable:active {
    background: #b36a00; }

.cr.button.light-blue.hoverable {
  background: #03A9F4;
  color: #fff; }
  .cr.button.light-blue.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.light-blue.hoverable:hover {
    background: #038dcc; }
  .cr.button.light-blue.hoverable:active {
    background: #0275a8; }

.cr.button.indigo.hoverable {
  background: #3F51B5;
  color: #fff; }
  .cr.button.indigo.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.indigo.hoverable:hover {
    background: #344397; }
  .cr.button.indigo.hoverable:active {
    background: #2b387c; }

.cr.button.black.hoverable {
  background: #000;
  color: #fff; }
  .cr.button.black.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }

.cr.button.teal.hoverable {
  background: #009688;
  color: #fff; }
  .cr.button.teal.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.teal.hoverable:hover {
    background: #006d63; }
  .cr.button.teal.hoverable:active {
    background: #004a43; }

.cr.button.amber.hoverable {
  background: #FFC107;
  color: #fff; }
  .cr.button.amber.hoverable .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.button.amber.hoverable:hover {
    background: #FFA000; }
  .cr.button.amber.hoverable:active {
    background: #FF6F00; }

.cr.simple.button {
  color: #1a1a1a;
  background: none !important; }
  .cr.simple.button .ripple {
    background: #9E9E9E; }
  .cr.simple.button:active {
    background: #ebebeb !important; }

.cr.simple.button.blue {
  color: #2196F3; }
  .cr.simple.button.blue .ripple {
    background: #2196F3; }

.cr.simple.button.royal-blue {
  color: #3D5AFE; }
  .cr.simple.button.royal-blue .ripple {
    background: #3D5AFE; }

.cr.simple.button.white {
  color: #fff; }
  .cr.simple.button.white .ripple {
    background: rgba(255, 255, 255, 0.8); }
  .cr.simple.button.white:active {
    background: none !important; }

.cr.simple.button.red {
  color: #F44336; }
  .cr.simple.button.red .ripple {
    background: #F44336; }

.cr.simple.button.gold {
  color: #bf9b30; }
  .cr.simple.button.gold .ripple {
    background: #bf9b30; }

.cr.simple.button.indigo {
  color: #3F51B5; }
  .cr.simple.button.indigo .ripple {
    background: #3F51B5; }

.cr.simple.button.green {
  color: #00C853; }
  .cr.simple.button.green .ripple {
    background: #00C853; }

.cr.simple.button.amber {
  color: #FFC107; }
  .cr.simple.button.amber .ripple {
    background: #FFC107; }

.cr.simple.button.purple {
  color: #9C27B0; }
  .cr.simple.button.purple .ripple {
    background: #9C27B0; }

.cr.simple.button.pink {
  color: #E91E63; }
  .cr.simple.button.pink .ripple {
    background-color: #E91E63; }

.cr.simple.button.yellow {
  color: #FFEB3B; }
  .cr.simple.button.yellow .ripple {
    background: #FFEB3B; }

.cr.simple.button.teal {
  color: #009688; }
  .cr.simple.button.teal .ripple {
    background: #009688; }

button.cr.button.float {
  position: fixed;
  width: 56px;
  outline: none;
  border: none;
  height: 56px;
  right: 40px;
  background-color: #E91E63;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 190;
  -o-transition: background-color 0.3s, box-shadow 0.3s;
  -moz-transition: background-color 0.3s, box-shadow 0.3s;
  -webkit-transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  bottom: 4%; }
  button.cr.button.float i {
    text-align: center;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0 auto;
    padding: 2px;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  button.cr.button.float:active {
    background-color: #c1134e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); }

button.cr.button.float.blue {
  background-color: #2196F3; }
  button.cr.button.float.blue:active {
    background-color: #0c7cd5; }

button.cr.button.float.red {
  background-color: #F44336; }
  button.cr.button.float.red:active {
    background-color: #ea1c0d; }

button.cr.button.float.yellow {
  background-color: #FFEB3B;
  color: #000; }
  button.cr.button.float.yellow .ripple {
    background: rgba(212, 190, 0, 0.5); }
  button.cr.button.float.yellow:active {
    background-color: #eed500; }

button.cr.button.float.amber {
  background-color: #FFC107; }
  button.cr.button.float.amber:active {
    background-color: #d39e00; }

button.cr.button.float.green {
  background-color: #00C853; }
  button.cr.button.float.green:active {
    background-color: #00953e; }

button.cr.button.float.indigo {
  background-color: #3F51B5; }
  button.cr.button.float.indigo:active {
    background-color: #32408f; }

button.cr.button.float.purple {
  background-color: #9C27B0; }
  button.cr.button.float.purple:active {
    background-color: #771e86; }

button.cr.button.float.gold {
  background-color: #bf9b30; }
  button.cr.button.float.gold:active {
    background-color: #967a26; }

button.cr.button.float.teal {
  background-color: #009688; }
  button.cr.button.float.teal:active {
    background-color: #00635a; }

button.cr.button.float.pink {
  background-color: #E91E63; }
  button.cr.button.float.pink:active {
    background-color: #c1134e; }

button.cr.button.float.black {
  background-color: #000; }
  button.cr.button.float.black:active {
    background-color: black; }

button.cr.button.float.white {
  background-color: #f7f7f7;
  color: #000; }
  button.cr.button.float.white:active {
    background-color: #e6e6e6; }

button.float.square {
  border-radius: 4px !important; }

button.dark-bg {
  box-shadow: none !important; }

div.cr.button.pulse, button.cr.button.pulse, a.menu-item.pulse {
  overflow: hidden; }

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1; }

.ripple-active {
  -webkit-animation: ripple-anim 0.5s linear;
  -o-animation: ripple-anim 0.5s linear;
  -moz-animation: ripple-anim 0.5s linear;
  animation: ripple-anim 0.5s linear; }

@-o-keyframes ripple-anim {
  100% {
    -o-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
@-webkit-keyframes ripple-anim {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
@-moz-keyframes ripple-anim {
  100% {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
@keyframes ripple-anim {
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
content {
  display: block; }

.cr.card {
  position: relative;
  background: #fff;
  width: 307px;
  min-height: 0;
  max-width: 100%;
  margin: 1em 0;
  border: 1px solid rgba(151, 151, 151, 0.2);
  -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }
  .cr.card header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center; }
    .cr.card header .title {
      position: relative;
      font-size: 1.1em;
      align-self: center;
      font-weight: 600;
      flex-grow: 1; }
    .cr.card header .right-item {
      flex-wrap: nowrap;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end; }
  .cr.card footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .cr.card header.with.separador {
    border-bottom: 1px solid rgba(151, 151, 151, 0.2); }
  .cr.card footer.with.separador {
    border-top: 1px solid rgba(151, 151, 151, 0.2); }

.cr.card.flexible {
  width: 100%; }

.cr.card.hoverable {
  -webkit-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out; }
  .cr.card.hoverable:hover {
    -webkit-box-shadow: 0 8px 9px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 9px -2px rgba(0, 0, 0, 0.2); }

.cr.card.material {
  border: none;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.44);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out; }
  .cr.card.material header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .cr.card.material footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  .cr.card.material:hover {
    background-color: #fafafa; }

.cr.card.material.hoverable:hover {
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3); }

.cr.card.deep.shadow {
  border-radius: 10px;
  border: none !important;
  -webkit-box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.3); }
  .cr.card.deep.shadow header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .cr.card.deep.shadow footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }

.cr.card.variant {
  border-radius: 14px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 6px -12px -3px rgba(0, 0, 0, 0.53);
  box-shadow: 0 6px -12px -3px rgba(0, 0, 0, 0.53); }
  .cr.card.variant header {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px; }
  .cr.card.variant footer {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px; }

.cr.card.mobile {
  border-radius: 12px;
  border: 1px solid gainsboro;
  -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5); }
  .cr.card.mobile header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; }
  .cr.card.mobile footer {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px; }

.cr.card.mobile-2 {
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 1px 0 -1px rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 0 -1px rgba(0, 0, 0, 0.14); }
  .cr.card.mobile-2 header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .cr.card.mobile-2 footer {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.cr.card header.blue, .cr.card content.blue, .cr.card footer.blue {
  background: #2196F3;
  color: #fff; }
.cr.card header.red, .cr.card content.red, .cr.card footer.red {
  background: #F44336;
  color: #fff; }
.cr.card header.yellow, .cr.card content.yellow, .cr.card footer.yellow {
  background: #FFEB3B;
  color: #000; }
.cr.card header.green, .cr.card content.green, .cr.card footer.green {
  background: #00C853;
  color: #fff; }
.cr.card header.black, .cr.card content.black, .cr.card footer.black {
  background: #000;
  color: #fff; }
.cr.card header.orange, .cr.card content.orange, .cr.card footer.orange {
  background: #FF9800;
  color: #fff; }
.cr.card header.pink, .cr.card content.pink, .cr.card footer.pink {
  background: #E91E63;
  color: #fff; }
.cr.card header.indigo, .cr.card content.indigo, .cr.card footer.indigo {
  background: #3F51B5;
  color: #fff; }
.cr.card header.purple, .cr.card content.purple, .cr.card footer.purple {
  background: #9C27B0;
  color: #fff; }
.cr.card header.deep-purple, .cr.card content.deep-purple, .cr.card footer.deep-purple {
  background: #673AB7;
  color: #fff; }
.cr.card header.royal-blue, .cr.card content.royal-blue, .cr.card footer.royal-blue {
  background: #3D5AFE;
  color: #fff; }
.cr.card header.teal, .cr.card content.teal, .cr.card footer.teal {
  background: #009688;
  color: #fff; }

.cr.card img.profile {
  position: relative;
  width: 2.188em;
  height: 2.188em;
  border: 1px solid rgba(151, 151, 151, 0.19);
  border-radius: 50%; }

.cr.card .feature.container {
  position: absolute;
  background: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0;
  z-index: 2;
  overflow-y: auto;
  transition: background 0.3s ease-out, opacity 0.3s ease-out; }
  .cr.card .feature.container:hover {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1; }
  .cr.card .feature.container content {
    padding: 10px 10px;
    font-size: 0.875em;
    color: #fff; }

label {
  padding-top: 5px;
  position: relative;
  display: inline-block; }

div.cr.input {
  position: relative;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  margin: 4px 2px; }
  div.cr.input input {
    margin: 2px 2px;
    height: 32px;
    font-size: 14px;
    line-height: 1.2em;
    border-radius: 4px;
    border: 1px solid rgba(158, 158, 158, 0.4);
    padding: 2px 15px;
    font-family: "Source Sans Pro", sans-serif;
    outline: none;
    transition: border-color 0.4s ease-out, background 0.3s ease-out; }
    div.cr.input input:focus {
      border-color: rgba(61, 90, 254, 0.5); }
    div.cr.input input::placeholder {
      color: rgba(33, 33, 33, 0.5);
      font-weight: 400; }

div.cr.input.tiny {
  font-size: 0.8em; }
  div.cr.input.tiny input {
    padding: 0 10px;
    font-size: 0.95111em;
    padding-right: 1.399em !important; }
    div.cr.input.tiny input + i {
      padding: 8px 0; }

div.cr.input.small {
  font-size: 0.896em; }
  div.cr.input.small input {
    padding: 3px 10px;
    padding-right: 1.2em;
    font-size: 0.96111em; }
    div.cr.input.small input + i {
      padding: 10px 0; }

div.cr.input.medium {
  font-size: 0.996em; }
  div.cr.input.medium input {
    padding: 5px 10px;
    padding-right: 1.599em !important;
    font-size: 1em; }
    div.cr.input.medium input + i {
      padding: 12px 8px !important; }

div.cr.input.large {
  font-size: 1.1em; }
  div.cr.input.large input {
    padding: 8px 10px;
    padding-right: 1.493em !important;
    font-size: 1.04em; }
    div.cr.input.large input + i {
      padding: 15px 8px !important; }

div.cr.input.big {
  font-size: 1.2em; }
  div.cr.input.big input {
    padding: 10px 10px;
    font-size: 1.1em;
    padding-right: 1.593em !important; }
    div.cr.input.big input + i {
      padding: 15px 8px !important; }
    div.cr.input.big input::placeholder {
      font-size: 1.1em; }

div.cr.input.flexible {
  display: flex; }
  div.cr.input.flexible input {
    flex: 1 0 auto; }

div.cr.input.transparent input {
  background: none;
  border: none; }

div.cr.input.for.dark.backgrounds input {
  border-color: #fff;
  color: #fff;
  background: none; }
  div.cr.input.for.dark.backgrounds input::placeholder {
    color: #f2f2f2; }
  div.cr.input.for.dark.backgrounds input:focus {
    border-color: #fff; }

div.cr.input.error input {
  background: #f9d9d9;
  color: #B71C1C; }
  div.cr.input.error input:focus {
    border-color: #B71C1C; }
  div.cr.input.error input::placeholder {
    color: #ec8080; }

div.cr.input.rounded input {
  border-radius: 50px; }

div.cr.input.icon {
  position: relative;
  display: inline-block; }
  div.cr.input.icon input + i {
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
    right: 0;
    font-size: 1.375em; }

div.cr.input.raised {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }
  div.cr.input.raised input {
    border: none; }

div.cr.input.raised.variant {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px; }
  div.cr.input.raised.variant input {
    border: none; }

div.cr.input.raised.hoverable {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: box-shadow 0.3s ease-out; }
  div.cr.input.raised.hoverable input {
    border: none; }
  div.cr.input.raised.hoverable:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

.cr-material {
  position: relative;
  padding: 5px 0;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available; }
  .cr-material input {
    position: relative;
    height: 32px;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif; }

.cr-material:after, .cr-material:before {
  content: "";
  height: 1px;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
  background-color: #b3b3b3;
  position: absolute;
  bottom: 6px;
  -webkit-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  left: 0; }

.cr-material:after {
  background: #E91E63;
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s; }

.is-focused .m-label {
  color: #E91E63; }

.is-focused:after, .m-label:after {
  transform: scaleX(1);
  height: 2px; }

.has-label .m-label {
  transform: translateY(0) scale(0.75); }

.cr-material .m-field {
  position: relative;
  display: block;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 16px;
  font-size: 16px;
  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none; }

.cr-material.area .m-field {
  position: relative;
  display: block;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
  height: auto;
  padding-bottom: 2px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 16px;
  font-size: 16px;
  background: transparent;
  outline: none !important;
  border: none;
  -webkit-appearance: none;
  resize: none; }

.m-label {
  position: relative;
  margin: 0;
  color: rgba(33, 33, 33, 0.6);
  white-space: nowrap;
  line-height: 16px;
  font-weight: 400px;
  font-size: 16px;
  display: block;
  transform: translateY(24px);
  -webkit-transition: transform 0.3s, font-size 0.3s;
  -o-transition: transform 0.3s, font-size 0.3s;
  -moz-transition: transform 0.3s, font-size 0.3s;
  transition: transform 0.3s, font-size 0.3s;
  transform-origin: 0 50%; }

.cr.material.simple label {
  display: none; }
.cr.material.simple span.m-state:before {
  padding-top: 6px; }
.cr.material.simple input {
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0; }

.cr-material.area {
  height: 130px; }
  .cr-material.area textarea {
    height: 100px !important; }
  .cr-material.area span:before {
    padding-top: 10px !important; }

.cr-material.with.counter span {
  position: absolute;
  bottom: -1.41em;
  display: none;
  right: 0;
  padding: 8px 5px;
  font-size: 0.899em; }
.cr-material.with.counter .m-field:focus + span {
  display: block; }

.count-overflow {
  color: #B71C1C; }

.cr-material.blue:after {
  background-color: #2196F3; }

.cr-material.blue.is-focused label {
  color: #2196F3; }
.cr-material.blue.is-focused:after {
  background-color: #2196F3; }

.cr-material.royal-blue:after {
  background-color: #3D5AFE; }

.cr-material.royal-blue.is-focused label {
  color: #3D5AFE; }
.cr-material.royal-blue.is-focused:after {
  background-color: #3D5AFE; }

.cr-material.green:after {
  background-color: #00C853; }

.cr-material.green.is-focused label {
  color: #00C853; }
.cr-material.green.is-focused:after {
  background-color: #00C853; }

.cr-material.red:after {
  background-color: #F44336; }

.cr-material.red.is-focused label {
  color: #F44336; }
.cr-material.red.is-focused:after {
  background-color: #F44336; }

.cr-material.black:after {
  background-color: #000; }

.cr-material.black.is-focused label {
  color: #000; }
.cr-material.black.is-focused:after {
  background-color: #000; }

.cr-material.white input {
  color: #fff; }
.cr-material.white label {
  color: #fff; }
.cr-material.white:after {
  background-color: #fff; }

.cr-material.white.is-focused label {
  color: #fff; }
.cr-material.white.is-focused:after {
  background-color: #fff; }

.cr-material.yellow:after {
  background-color: #FFEB3B; }

.cr-material.yellow.is-focused label {
  color: #FFEB3B; }
.cr-material.yellow.is-focused:after {
  background-color: #FFEB3B; }

.cr-material.orange:after {
  background-color: #FF9800; }

.cr-material.orange.is-focused label {
  color: #FF9800; }
.cr-material.orange.is-focused:after {
  background-color: #FF9800; }

.cr-material.amber:after {
  background-color: #FFC107; }

.cr-material.amber.is-focused label {
  color: #FFC107; }
.cr-material.amber.is-focused:after {
  background-color: #FFC107; }

.cr-material.indigo:after {
  background-color: #3F51B5; }

.cr-material.indigo.is-focused label {
  color: #3F51B5; }
.cr-material.indigo.is-focused:after {
  background-color: #3F51B5; }

.cr-material.purple:after {
  background-color: #9C27B0; }

.cr-material.purple.is-focused label {
  color: #9C27B0; }
.cr-material.purple.is-focused:after {
  background-color: #9C27B0; }

.cr-material.teal:after {
  background-color: #009688; }

.cr-material.teal.is-focused label {
  color: #009688; }
.cr-material.teal.is-focused:after {
  background-color: #009688; }

.cr-material.deep-purple:after {
  background-color: #673AB7; }

.cr-material.deep-purple.is-focused label {
  color: #673AB7; }
.cr-material.deep-purple.is-focused:after {
  background-color: #673AB7; }

nav.cr.navbar {
  display: flex;
  padding: 0 20px;
  margin-bottom: 8px;
  min-height: 60px;
  flex: 1;
  -webkit-box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.8); }
  nav.cr.navbar a.brand {
    display: flex;
    min-height: 46px !important;
    min-width: 132px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer; }
  nav.cr.navbar ul.menu {
    list-style: none;
    display: flex;
    flex: 1;
    margin: 0; }
    nav.cr.navbar ul.menu li {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      min-width: 132px;
      min-height: 46px; }

div.cr.checkbox, div.cr.switch {
  position: relative;
  display: inline-block;
  min-width: 14px;
  min-height: 14px;
  border-radius: 2px;
  border: none;
  outline: none;
  background: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align: baseline;
  margin: 4px 4px; }

div.cr.checkbox input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0 !important;
  z-index: 1;
  cursor: pointer; }
  div.cr.checkbox input[type="checkbox"] + label {
    position: relative;
    display: block;
    padding-left: 1.4em;
    padding-top: 0; }
    div.cr.checkbox input[type="checkbox"] + label:after, div.cr.checkbox input[type="checkbox"] + label:before {
      box-sizing: border-box; }
    div.cr.checkbox input[type="checkbox"] + label:before {
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 2px;
      border: 2px solid rgba(22, 22, 22, 0.27);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: background 0.2s linear, border-color 0.2s linear;
      -o-transition: background 0.2s linear, border-color 0.2s linear;
      transition: background 0.2s linear, border-color 0.2s linear; }
    div.cr.checkbox input[type="checkbox"] + label:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 12px;
      height: 5px;
      margin: 5px 3px;
      border-left: 2px solid #9E9E9E;
      border-top-left-radius: 1px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: 2px solid #9E9E9E;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: border-color 0.3s linear, opacity 0.3s linear;
      -o-transition: border-color 0.3s linear, opacity 0.3s linear;
      transition: border-color 0.3s linear, opacity 0.3s linear;
      opacity: 0; }
div.cr.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  border-color: #fff; }
div.cr.checkbox input[type="checkbox"]:checked + label:before {
  background: #E91E63;
  border-color: #E91E63; }
div.cr.checkbox input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0 !important;
  z-index: 1;
  cursor: pointer; }
  div.cr.checkbox input[type="radio"] + label {
    position: relative;
    display: block;
    padding-left: 1.4em;
    padding-top: 0; }
    div.cr.checkbox input[type="radio"] + label:after, div.cr.checkbox input[type="radio"] + label:before {
      box-sizing: border-box; }
    div.cr.checkbox input[type="radio"] + label:before {
      content: "";
      width: 18px;
      height: 18px;
      background: none;
      border-radius: 100%;
      border: 2px solid rgba(22, 22, 22, 0.27);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: border-color 0.2s linear;
      -o-transition: border-color 0.2s linear;
      transition: border-color 0.2s linear; }
    div.cr.checkbox input[type="radio"] + label:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: 4px 4px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: transform 0.3s linear;
      -o-transition: transform 0.3s linear;
      transition: transform 0.3s linear; }
div.cr.checkbox input[type="radio"]:checked + label:after {
  -webkit-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  background: #E91E63;
  transform: scale(1); }
div.cr.checkbox input[type="radio"]:checked + label:before {
  border-color: #E91E63; }

div.cr.switch {
  display: flex; }
  div.cr.switch input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    flex-grow: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0 !important; }
    div.cr.switch input[type="checkbox"] + label {
      position: relative;
      display: block;
      padding-left: 2.7em;
      padding-top: 0; }
      div.cr.switch input[type="checkbox"] + label:after, div.cr.switch input[type="checkbox"] + label:before {
        box-sizing: border-box; }
      div.cr.switch input[type="checkbox"] + label:before {
        content: "";
        width: 35px;
        height: 10px;
        border-radius: 50px;
        background: #dfdfdf;
        position: absolute;
        margin-top: 5px;
        top: 0;
        left: 0;
        -webkit-transition: background 0.2s linear, border-color 0.2s linear;
        -o-transition: background 0.2s linear, border-color 0.2s linear;
        transition: background 0.2s linear, border-color 0.2s linear; }
      div.cr.switch input[type="checkbox"] + label:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 4px;
        width: 19px;
        height: 19px;
        border-radius: 100%;
        background: #fff;
        border: 1px solid #d8d8d8;
        -webkit-transition: transform 0.3s ease-out, background 0.3s ease-out;
        -o-transition: transform 0.3s ease-out, background 0.3s ease-out;
        transition: transform 0.3s ease-out, background 0.3s ease-out; }
  div.cr.switch input[type="checkbox"]:checked + label:before {
    background: #E91E63; }
  div.cr.switch input[type="checkbox"]:checked + label:after {
    -webkit-transform: translateX(17px);
    transform: translateX(17px);
    border-color: #E91E63; }

div.cr.switch.blue input[type="checkbox"]:checked + label:before {
  background: #2196F3; }
div.cr.switch.blue input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #2196F3; }

div.cr.switch.red input[type="checkbox"]:checked + label:before {
  background: #F44336; }
div.cr.switch.red input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #F44336; }

div.cr.switch.green input[type="checkbox"]:checked + label:before {
  background: #00C853; }
div.cr.switch.green input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #00C853; }

div.cr.switch.yellow input[type="checkbox"]:checked + label:before {
  background: #FFEB3B; }
div.cr.switch.yellow input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #FFEB3B; }

div.cr.switch.orange input[type="checkbox"]:checked + label:before {
  background: #FF9800; }
div.cr.switch.orange input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #FF9800; }

div.cr.switch.amber input[type="checkbox"]:checked + label:before {
  background: #FFC107; }
div.cr.switch.amber input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #FFC107; }

div.cr.switch.black input[type="checkbox"]:checked + label:before {
  background: #000; }
div.cr.switch.black input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #000; }

div.cr.switch.royal-blue input[type="checkbox"]:checked + label:before {
  background: #3D5AFE; }
div.cr.switch.royal-blue input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #3D5AFE; }

div.cr.switch.teal input[type="checkbox"]:checked + label:before {
  background: #009688; }
div.cr.switch.teal input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #009688; }

div.cr.switch.purple input[type="checkbox"]:checked + label:before {
  background: #9C27B0; }
div.cr.switch.purple input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #9C27B0; }

div.cr.switch.indigo input[type="checkbox"]:checked + label:before {
  background: #3F51B5; }
div.cr.switch.indigo input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #3F51B5; }

div.cr.switch.gold input[type="checkbox"]:checked + label:before {
  background: #bf9b30; }
div.cr.switch.gold input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #bf9b30; }

div.cr.switch.deep-purple input[type="checkbox"]:checked + label:before {
  background: #673AB7; }
div.cr.switch.deep-purple input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  border-color: #673AB7; }

div.cr.checkbox.variant input[type="checkbox"] {
  outline: none;
  border: none; }
  div.cr.checkbox.variant input[type="checkbox"] + label:before {
    transition: transform 0.3s ease-out; }
  div.cr.checkbox.variant input[type="checkbox"]:checked + label:before {
    transition: transform 0.3s ease-out;
    height: 10px;
    -webkit-transform: rotate(-405deg);
    -ms-transform: rotate(-405deg);
    transform: rotate(-405deg);
    border-top: none !important;
    border-right: none !important;
    background: none !important; }
  div.cr.checkbox.variant input[type="checkbox"]:checked + label:after {
    display: none !important; }

div.cr.checkbox.disabled input[type="checkbox"], div.cr.checkbox.disabled input[type="radio"] {
  user-select: none;
  display: none; }
div.cr.checkbox.disabled label:before {
  cursor: no-drop;
  border-color: #dedede; }

div.cr.checkbox.blue input[type="checkbox"]:checked + label:before {
  background: #2196F3 !important;
  border-color: #2196F3 !important; }
div.cr.checkbox.blue input[type="radio"]:checked + label:after {
  background: #2196F3 !important; }
div.cr.checkbox.blue input[type="radio"]:checked + label:before {
  border-color: #2196F3 !important; }

div.cr.checkbox.royal-blue input[type="checkbox"]:checked + label:before {
  background: #3D5AFE !important;
  border-color: #3D5AFE !important; }
div.cr.checkbox.royal-blue input[type="radio"]:checked + label:after {
  background: #3D5AFE !important; }
div.cr.checkbox.royal-blue input[type="radio"]:checked + label:before {
  border-color: #3D5AFE !important; }

div.cr.checkbox.blue.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #2196F3 !important; }

div.cr.checkbox.royal-blue.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #3D5AFE !important; }

div.cr.checkbox.red input[type="checkbox"]:checked + label:before {
  background: #F44336 !important;
  border-color: #F44336 !important; }
div.cr.checkbox.red input[type="radio"]:checked + label:after {
  background: #F44336 !important; }
div.cr.checkbox.red input[type="radio"]:checked + label:before {
  border-color: #F44336 !important; }

div.cr.checkbox.red.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #F44336 !important; }

div.cr.checkbox.green input[type="checkbox"]:checked + label:before {
  background: #00C853 !important;
  border-color: #00C853 !important; }
div.cr.checkbox.green input[type="radio"]:checked + label:after {
  background: #00C853 !important; }
div.cr.checkbox.green input[type="radio"]:checked + label:before {
  border-color: #00C853 !important; }

div.cr.checkbox.green.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #00C853 !important; }

div.cr.checkbox.indigo input[type="checkbox"]:checked + label:before {
  background: #3F51B5 !important;
  border-color: #3F51B5 !important; }
div.cr.checkbox.indigo input[type="radio"]:checked + label:after {
  background: #3F51B5 !important; }
div.cr.checkbox.indigo input[type="radio"]:checked + label:before {
  border-color: #3F51B5 !important; }

div.cr.checkbox.indigo.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #3F51B5 !important; }

div.cr.checkbox.black input[type="checkbox"]:checked + label:before {
  background: #000 !important;
  border-color: #000 !important; }
div.cr.checkbox.black input[type="radio"]:checked + label:after {
  background: #000 !important; }
div.cr.checkbox.black input[type="radio"]:checked + label:before {
  border-color: #000 !important; }

div.cr.checkbox.black.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #000 !important; }

div.cr.checkbox.yellow input[type="checkbox"]:checked + label:before {
  background: #FFEB3B !important;
  border-color: #FFEB3B !important; }
div.cr.checkbox.yellow input[type="radio"]:checked + label:after {
  background: #FFEB3B !important; }
div.cr.checkbox.yellow input[type="radio"]:checked + label:before {
  border-color: #FFEB3B !important; }

div.cr.checkbox.yellow.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #FFEB3B !important; }

div.cr.checkbox.amber input[type="checkbox"]:checked + label:before {
  background: #FFC107 !important;
  border-color: #FFC107 !important; }
div.cr.checkbox.amber input[type="radio"]:checked + label:after {
  background: #FFC107 !important; }
div.cr.checkbox.amber input[type="radio"]:checked + label:before {
  border-color: #FFC107 !important; }

div.cr.checkbox.amber.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #FFC107 !important; }

div.cr.checkbox.purple input[type="checkbox"]:checked + label:before {
  background: #9C27B0 !important;
  border-color: #9C27B0 !important; }
div.cr.checkbox.purple input[type="radio"]:checked + label:after {
  background: #9C27B0 !important; }
div.cr.checkbox.purple input[type="radio"]:checked + label:before {
  border-color: #9C27B0 !important; }

div.cr.checkbox.purple.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #9C27B0 !important; }

div.cr.checkbox.gold input[type="checkbox"]:checked + label:before {
  background: #bf9b30 !important;
  border-color: #bf9b30 !important; }
div.cr.checkbox.gold input[type="radio"]:checked + label:after {
  background: #bf9b30 !important; }
div.cr.checkbox.gold input[type="radio"]:checked + label:before {
  border-color: #bf9b30 !important; }

div.cr.checkbox.gold.variant input[type="checkbox"]:checked + label:before {
  background: none !important;
  border-color: #bf9b30 !important; }

.mdovrl {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  background: rgba(1, 1, 1, 0.66);
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: opacity;
  -webkit-animation: mdovrl 300ms ease-out;
  animation: mdovrl 300ms ease-out;
  overflow-y: auto; }

.mod-show-state {
  display: block !important;
  will-change: opacity;
  -webkit-animation: crFadeIn 0.3s ease-out;
  animation: crFadeIn 0.3s ease-out; }

section.cr.modal {
  width: 527px;
  position: fixed;
  z-index: 1000;
  max-width: 100%;
  min-height: 0;
  display: none;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.41); }
  section.cr.modal header, section.cr.modal content, section.cr.modal footer {
    position: relative;
    padding: 10px 20px;
    background: none;
    border: none;
    -webkit-box-flex: 1;
    flex-grow: 1; }
  section.cr.modal header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center; }
    section.cr.modal header .title {
      position: relative;
      font-size: 1.1em;
      align-self: center;
      font-weight: 600;
      flex-grow: 1; }
    section.cr.modal header .right-item {
      flex-wrap: nowrap;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: flex-end; }
    section.cr.modal header i {
      font-size: 1em;
      cursor: pointer;
      font-weight: 600; }
  section.cr.modal footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  section.cr.modal header.with.separador {
    border-bottom: 1px solid rgba(151, 151, 151, 0.2); }
  section.cr.modal footer.with.separador {
    border-top: 1px solid rgba(151, 151, 151, 0.2); }

section.cr.modal.material {
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.4); }

.cr.modal.tiny {
  width: 300px;
  max-width: 100%; }

.cr.modal.small {
  width: 460px;
  max-width: 100%; }

.cr.modal.medium {
  width: 680px;
  max-width: 100%; }
  .cr.modal.medium .image.container img {
    max-width: 60%; }

.cr.modal.large {
  width: 1000px;
  max-width: 90%; }
  .cr.modal.large .image.container img {
    max-width: 50%; }

section.cr.modal header.blue, section.cr.modal content.blue, section.cr.modal footer.blue {
  background: #2196F3;
  color: #fff; }
section.cr.modal header.red, section.cr.modal content.red, section.cr.modal footer.red {
  background: #F44336;
  color: #fff; }
section.cr.modal header.yellow, section.cr.modal content.yellow, section.cr.modal footer.yellow {
  background: #FFEB3B;
  color: #000; }
section.cr.modal header.green, section.cr.modal content.green, section.cr.modal footer.green {
  background: #00C853;
  color: #fff; }
section.cr.modal header.black, section.cr.modal content.black, section.cr.modal footer.black {
  background: #000;
  color: #fff; }
section.cr.modal header.orange, section.cr.modal content.orange, section.cr.modal footer.orange {
  background: #FF9800;
  color: #fff; }
section.cr.modal header.pink, section.cr.modal content.pink, section.cr.modal footer.pink {
  background: #E91E63;
  color: #fff; }
section.cr.modal header.indigo, section.cr.modal content.indigo, section.cr.modal footer.indigo {
  background: #3F51B5;
  color: #fff; }
section.cr.modal header.purple, section.cr.modal content.purple, section.cr.modal footer.purple {
  background: #9C27B0;
  color: #fff; }
section.cr.modal header.deep-purple, section.cr.modal content.deep-purple, section.cr.modal footer.deep-purple {
  background: #673AB7;
  color: #fff; }
section.cr.modal header.royal-blue, section.cr.modal content.royal-blue, section.cr.modal footer.royal-blue {
  background: #3D5AFE;
  color: #fff; }
section.cr.modal header.teal, section.cr.modal content.teal, section.cr.modal footer.teal {
  background: #009688;
  color: #fff; }

@-webkit-keyframes crFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes crFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes mdovrl {
  0% {
    background: none; }
  100% {
    background: rgba(1, 1, 1, 0.66); } }
@keyframes mdovrl {
  0% {
    background: none; }
  100% {
    background: rgba(1, 1, 1, 0.66); } }
section.snackbar {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  bottom: 5%;
  left: 50%;
  vertical-align: middle;
  width: 301px;
  min-height: 52px;
  border-radius: 4px;
  transform: translateX(-50%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: flex;
  font-size: 14px;
  -webkit-animation: snackEnter 800ms ease-out;
  animation: snackEnter 800ms ease-out; }
  section.snackbar content {
    flex-grow: 3;
    color: #fff;
    padding: 17px 17px;
    vertical-align: middle; }
  section.snackbar .action {
    color: #fff;
    flex-grow: 0;
    padding: 17px 17px;
    color: #fbdb65;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    align-self: center; }

.snackbar.hide {
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 0; }

section.snackbar.tiny {
  width: 200px; }

section.snackbar.medium {
  width: 400px; }

@media screen and (max-width: 768px) {
  section.snackbar {
    max-width: 90%;
    margin: auto;
    bottom: 0; } }
@-webkit-keyframes snackEnter {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(100%);
    -ms-transform: translateX(-50%) translateY(100%);
    transform: translateX(-50%) translateY(100%); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); } }
@keyframes snackEnter {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(100%);
    -ms-transform: translateX(-50%) translateY(100%);
    transform: translateX(-50%) translateY(100%); }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); } }

/*# sourceMappingURL=crown.css.map */
