label {
  padding-top: 5px;
  position: relative;
  display: inline-block; }

div.cr.input {
  position: relative;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  width: auto; }
  div.cr.input input {
    margin: 2px 2px;
    height: 32px;
    font-size: 14px;
    line-height: 1.2em;
    border-radius: 4px;
    border: 1px solid #9E9E9E;
    padding: 2px 15px;
    font-family: "Source Sans Pro", sans-serif;
    outline: none;
    transition: border-color 0.4s ease-out, background 0.3s ease-out; }
    div.cr.input input:focus {
      border-color: #7085fe; }
    div.cr.input input::placeholder {
      color: rgba(33, 33, 33, 0.5);
      font-weight: bold; }

div.cr.input.tiny {
  font-size: 0.8em; }
  div.cr.input.tiny input {
    padding: 0 10px;
    font-size: 0.95111em;
    padding-right: 1.399em !important; }
    div.cr.input.tiny input + i {
      padding: 8px 0; }

div.cr.input.small {
  font-size: 0.896em; }
  div.cr.input.small input {
    padding: 3px 10px;
    padding-right: 1.2em;
    font-size: 0.96111em; }
    div.cr.input.small input + i {
      padding: 10px 0; }

div.cr.input.medium {
  font-size: 0.996em; }
  div.cr.input.medium input {
    padding: 5px 10px;
    padding-right: 1.599em !important;
    font-size: 1em; }
    div.cr.input.medium input + i {
      padding: 12px 8px !important; }

div.cr.input.large {
  font-size: 1.1em; }
  div.cr.input.large input {
    padding: 8px 10px;
    padding-right: 1.493em !important;
    font-size: 1.04em; }
    div.cr.input.large input + i {
      padding: 15px 8px !important; }

div.cr.input.big {
  font-size: 1.2em; }
  div.cr.input.big input {
    padding: 10px 10px;
    font-size: 1.1em;
    padding-right: 1.593em !important; }
    div.cr.input.big input + i {
      padding: 15px 8px !important; }
    div.cr.input.big input::placeholder {
      font-size: 1.1em; }

div.cr.input.adaptable {
  max-width: 100%;
  width: 100%; }
  div.cr.input.adaptable input {
    width: 100%;
    width: -moz-available;
    width: fill-available;
    width: -webkit-fill-available;
    max-width: 100%; }

div.cr.input.transparent input {
  background: none;
  border: none; }

div.cr.input.for.dark.backgrounds input {
  border-color: #fff;
  color: #fff;
  background: none; }
  div.cr.input.for.dark.backgrounds input::placeholder {
    color: #f2f2f2; }
  div.cr.input.for.dark.backgrounds input:focus {
    border-color: #fff; }

div.cr.input.error input {
  background: #f9d9d9;
  color: #B71C1C; }
  div.cr.input.error input:focus {
    border-color: #B71C1C; }
  div.cr.input.error input::placeholder {
    color: #ec8080; }

div.cr.input.rounded input {
  border-radius: 50px; }

div.cr.input.icon {
  position: relative;
  display: inline-block; }
  div.cr.input.icon input + i {
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
    right: 0;
    font-size: 1.375em; }

div.cr.input.raised {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }
  div.cr.input.raised input {
    border: none; }

div.cr.input.raised.variant {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px; }
  div.cr.input.raised.variant input {
    border: none; }

div.cr.input.raised.hoverable {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: box-shadow 0.3s ease-out; }
  div.cr.input.raised.hoverable input {
    border: none; }
  div.cr.input.raised.hoverable:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

.cr-material {
  position: relative;
  padding: 5px 0;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available; }
  .cr-material input {
    position: relative;
    height: 32px;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif; }
    .cr-material input:focus ~ span.m-counter:before {
      display: inline-block;
      visibility: visible; }

.cr-material:after, .cr-material:before {
  content: "";
  height: 1px;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
  background-color: #d9d9d9;
  position: absolute;
  bottom: 6px;
  -webkit-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  -moz-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  left: 0; }

.cr-material:after {
  background: #E91E63;
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s; }

.is-focused .m-label {
  color: #E91E63; }

.is-focused:after, .m-label:after {
  transform: scaleX(1);
  height: 2px; }

.has-label .m-label {
  transform: translateY(0) scale(0.75); }

.m-input {
  position: relative;
  display: block;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 16px;
  font-size: 16px;
  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none; }

.m-area {
  position: relative;
  display: block;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
  height: auto;
  padding-bottom: 2px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 16px;
  font-size: 16px;
  background: transparent;
  outline: none !important;
  border: none;
  -webkit-appearance: none;
  resize: none; }

.m-label {
  position: relative;
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  white-space: nowrap;
  line-height: 16px;
  font-weight: 400px;
  font-size: 16px;
  display: block;
  transform: translateY(24px);
  -webkit-transition: transform 0.3s, font-size 0.3s;
  -o-transition: transform 0.3s, font-size 0.3s;
  -moz-transition: transform 0.3s, font-size 0.3s;
  transition: transform 0.3s, font-size 0.3s;
  transform-origin: 0 50%; }

.cr.material.simple label {
  display: none; }
.cr.material.simple span.m-counter:before {
  padding-top: 10px; }
.cr.material.simple span.m-state:before {
  padding-top: 6px; }
.cr.material.simple input {
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 0; }

.cr-material.area {
  height: 130px; }
  .cr-material.area textarea {
    height: 100px !important; }
    .cr-material.area textarea:focus ~ span.m-counter:before {
      display: inline-block;
      visibility: visible; }
  .cr-material.area span:before {
    padding-top: 10px !important; }

.cr-material.area.with.counter span {
  position: absolute;
  bottom: -1.41em;
  right: 0;
  padding: 8px 5px;
  font-size: 0.899em; }

.count-overflow {
  color: #B71C1C; }

.cr-material.blue:after {
  background-color: #2196F3; }

.cr-material.blue.is-focused label {
  color: #2196F3; }
.cr-material.blue.is-focused:after {
  background-color: #2196F3; }

.cr-material.royal-blue:after {
  background-color: #3D5AFE; }

.cr-material.royal-blue.is-focused label {
  color: #3D5AFE; }
.cr-material.royal-blue.is-focused:after {
  background-color: #3D5AFE; }

.cr-material.green:after {
  background-color: #00C853; }

.cr-material.green.is-focused label {
  color: #00C853; }
.cr-material.green.is-focused:after {
  background-color: #00C853; }

.cr-material.red:after {
  background-color: #F44336; }

.cr-material.red.is-focused label {
  color: #F44336; }
.cr-material.red.is-focused:after {
  background-color: #F44336; }

.cr-material.black:after {
  background-color: #000; }

.cr-material.black.is-focused label {
  color: #000; }
.cr-material.black.is-focused:after {
  background-color: #000; }

.cr-material.white:after {
  background-color: #fff; }

.cr-material.white.is-focused label {
  color: #fff; }
.cr-material.white.is-focused:after {
  background-color: #fff; }

.cr-material.yellow:after {
  background-color: #FFEB3B; }

.cr-material.yellow.is-focused label {
  color: #FFEB3B; }
.cr-material.yellow.is-focused:after {
  background-color: #FFEB3B; }

.cr-material.orange:after {
  background-color: #FF9800; }

.cr-material.orange.is-focused label {
  color: #FF9800; }
.cr-material.orange.is-focused:after {
  background-color: #FF9800; }

.cr-material.amber:after {
  background-color: #FFC107; }

.cr-material.amber.is-focused label {
  color: #FFC107; }
.cr-material.amber.is-focused:after {
  background-color: #FFC107; }

.cr-material.indigo:after {
  background-color: #3F51B5; }

.cr-material.indigo.is-focused label {
  color: #3F51B5; }
.cr-material.indigo.is-focused:after {
  background-color: #3F51B5; }

.cr-material.purple:after {
  background-color: #9C27B0; }

.cr-material.purple.is-focused label {
  color: #9C27B0; }
.cr-material.purple.is-focused:after {
  background-color: #9C27B0; }

.cr-material.teal:after {
  background-color: #009688; }

.cr-material.teal.is-focused label {
  color: #009688; }
.cr-material.teal.is-focused:after {
  background-color: #009688; }

.cr-material.deep-purple:after {
  background-color: #673AB7; }

.cr-material.deep-purple.is-focused label {
  color: #673AB7; }
.cr-material.deep-purple.is-focused:after {
  background-color: #673AB7; }

/*# sourceMappingURL=crinputs.css.map */
